$primary-color: #408C89;
$secondary-color: #FFC533;

a {
    color: #4EAAA7;
    text-decoration: none;
    font-weight: bold;
}
#auth-cover {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
#auth-illustration {
    background: url('./../../../../assets/img/user/undraw_unlock_-24-mb.svg') center no-repeat;
    background-size: contain;
}

.auth-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 66px;
}

.icon-label {
    margin-right: 2%;
}

.login-redirection {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 37px;
}

.loginBtn {
    background: #4EAAA7;
    color: #FFFF;
    border: 1px solid #4EAAA7;
    box-sizing: border-box;
    height: 59px;
}

// mat-checkbox {
//     span {
//         color: #4EAAA7;
//     }
// }