<!-- <div class="content-form" style="top: 100px; position: relative;">
  <div class="container-fluid">
    <h2 class="form-signin-heading">
      <img src="./../../../assets/social-media/ account-icon.png" alt="account-icon" class="icon-account"/>
      <br/>
      <span>Connexion</span>
    </h2>
    <div *ngIf="invalidLogin" class="alert alert-danger">Email et/ou mot de passe invalide.</div>
    <br />
    <form class="form form-signin" [formGroup]="form" #loginForm="ngForm">
      <mat-form-field appearance="outline">
        <mat-label for="email">Email</mat-label>
        <input matInput id="email" formControlName="mail" required autofocus>
      </mat-form-field>
      <br />
      <mat-form-field appearance="outline">
        <mat-label for="password">Mot de passe</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" id="password" formControlName="password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <br />
      <button mat-raised-button type="submit" (click)="login() ; $event.preventDefault()">Connexion</button>
      <br/>
      <button mat-raised-button class="signupBtn" type="button" (click)="signUp() ; $event.preventDefault()">Inscription</button>
    </form>
  </div>
</div> -->

<div class="container">
  <div class="content-form row">
    <div class="col" style="top: 200px; position: relative">
      <h2 class="form-signin-heading">
        Welcome sur GreenUp
        <br>
        <span>Tous les champs suivies d'un * sont à remplir obligatoirement</span>
      </h2>
      <div class="col-12" class="login-redirection">
        <span>Pas encore de compte ? <a routerLink="/signUp">S'inscrire</a></span>
      </div>
      <br />
      <form class="form_row" [formGroup]="form" #signUpForm="ngForm">
        <div class="row">
          <mat-form-field class="col" appearance="fill">
            <mat-label for="email">Email</mat-label>
            <input matInput type="email" id="email" formControlName="mail" required autofocus>
          </mat-form-field>
          <span>Identifiant oublié ?</span>
        </div>
        <div class="row">
          <mat-form-field class="col" appearance="fill">
            <mat-label for="password">Mot de passe</mat-label>
            <input matInput type="password" id="password" formControlName="password" required >
          </mat-form-field>
          <span>Mot de passe oublié ?</span>
        </div>
        <div class="row">
          <button mat-raised-button class="loginBtn" type="button" (click)="login() ; $event.preventDefault()">Connexion</button>
        </div>
      </form>
    </div>
    <div class="col">
      <img src="./../../../../assets/signinIllustration.png" alt="">
    </div>
  </div>
</div>