#proposCover {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#propos-illustration {
    height: 50vh;
    width: 100%;
    text-align: center;
}

.propos-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 66px;
}
#contactCover {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.team-picture {
    border-radius: 50%;
    height: 25vh;
}
#contact-illustration {
    background: url('./../../../assets/img/contact/undraw_begin_chat_re_v0lw.svg') center no-repeat;
    background-size: contain;
}

.auth-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 66px;
}
.linkedin-link:hover{
    transform: scale(1.1);
    background-color: darkblue !important;
    transition-duration: 0.5s;
}
.sendBtn {
    background: #4EAAA7;
    color: #FFFF;
    border: 1px solid #4EAAA7;
    box-sizing: border-box;
    height: 40px;
}