<div class="container-fluid">
    <div class="row mb-5" id="proposCover">
        <div class="col-xl-12 col-md-12 col-sm-12 d-flex flex-column align-items-center justify-content-center px-2">
            <div class="row mb-5">
                <h2 class="propos-title mb-0">A propos de nous</h2>
                <p class="mt-0">Besoin d'informations ? N'hésitez pas à nous contacter !</p>
            </div>
            <div class="row text-center">
                <div class="col-xl-6 col-md-6 col-sm-12" id="propos-illustration"></div>
                <div class="col-xl-5 col-md-5 col-sm-12">
                    <span class="col-xl-10 col-md-10 col-sm-12">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices cras bibendum vestibulum varius pellentesque facilisis. Id massa feugiat sed vel velit morbi laoreet. Quam adipiscing enim aenean nullam egestas eget ultrices. Donec placerat augue purus ullamcorper pulvinar suspendisse ut vel id. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </span>
                </div>
            </div>
        
    </div> 
        <div class="col-xl-5 col-md-5 col-sm-12"></div>
    </div>
</div>