<div class="dialog-mission-content">
    <h1>
        <span>Créer une nouvelle mission</span>
    </h1>
    
    <mat-dialog-content class="mat-typography">
        <form [formGroup]="form">
            <div class="row">
                <mat-form-field appearance="legacy" class="col-5">
                    <mat-label for="idNomMission">Insérer le nom de la mission</mat-label>
                    <input id="idNomMission" matInput type="text" formControlName="titre" required>
                </mat-form-field>
            </div>
            <div class="row file-box">
                <img class="mission-img" *ngIf="form.get('imgMission')?.value" [src]="form.get('imgMission')?.value">
                <div *ngIf="!form.get('imgMission')?.value" class="insert-img" (click)="insertImg()">
                    <input #fileUpload style="display: none;" type="file" aria-label="insérer une image" />
                    <mat-icon>content_copy</mat-icon>
                    <span>Insérer une image</span>    
                </div>
            </div>
            <div class="row file-box mt-2">
                <!-- <mat-form-field> -->
                    <textarea 
                        class="textarea-desc" 
                        formControlName="description" 
                        aria-label="Ajouter une description"
                        placeholder="Ajouter une description..."
                        required></textarea>
                <!-- </mat-form-field> -->
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <mat-form-field appearance="legacy">
                        <mat-label for="idAdresse">Adresse</mat-label>
                        <input id="idAdresse" matInput type="text" formControlName="adress" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <mat-form-field appearance="legacy">
                        <mat-label for="idVille">Ville</mat-label>
                        <input id="idVille" matInput type="text" formControlName="city" required>
                    </mat-form-field>
                </div>
                <div class="col-5">
                    <mat-form-field appearance="legacy">
                        <mat-label for="idZipCode">Code postal</mat-label>
                        <input id="idZipCode" matInput type="zipcode" formControlName="zipcode" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-6 mr-1">
                    <mat-form-field>
                        <mat-label for="idNbPlace">Nombre de place</mat-label>
                        <input matInput type="number" [min]="0" formControlName="nombrePlace" id="idNbPlace" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label for="idNbJours">Nombre de jours</mat-label>
                        <mat-select id="idNbJours">
                            <!-- <mat-option *ngFor="let type of typeMissionTab" [value]="type">
                              A voir
                            </mat-option> -->
                          </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label for="idDateDebut">Date de début de mission</mat-label>
                        <input matInput id="idDateDebut" [matDatepicker]="dateDebut" formControlName="dateDebutMission" (dateChange)="checkDate()" required>
                        <mat-datepicker-toggle matPrefix [for]="dateDebut"></mat-datepicker-toggle>
                        <mat-datepicker #dateDebut></mat-datepicker>
                    </mat-form-field>
                </div>
                
                <div class="col-2 mr-1"></div>
                <div class="col-4">
                    <mat-form-field>
                        <mat-label for="idPointMission">Points attribuer à la mission</mat-label>
                        <input id="idPointMission" matInput type="number" [min]="0" formControlName="pointMission" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label for="idDateFin">Date de fin de mission</mat-label>
                        <input matInput id="idDateFin" [matDatepicker]="dateFin" formControlName="dateFinMission" (dateChange)="checkDate();" required>
                        <mat-datepicker-toggle matPrefix [for]="dateFin"></mat-datepicker-toggle>
                        <mat-datepicker #dateFin></mat-datepicker>
                    </mat-form-field>
                    <mat-checkbox formControlName="isGroup">Mission de groupe</mat-checkbox>
                </div>
            </div>
            <div class="row mt-4 statut-mission">
                <div class="col-2"></div>
                <div class="col-8">
                    <h4>Statut</h4>
                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="statut">
                        <mat-button-toggle value="masque">Masqué</mat-button-toggle>
                        <mat-button-toggle value="aVenir">A venir</mat-button-toggle>
                        <mat-button-toggle value="ouverte">Ouverte</mat-button-toggle>
                        <mat-button-toggle value="enCours">En cours</mat-button-toggle>
                        <!-- Definit pour la modification -->
                        <!-- <mat-button-toggle value="terminee">Terminée</mat-button-toggle> -->
                        <!-- <mat-button-toggle value="annulee">Annulée</mat-button-toggle> -->
                    </mat-button-toggle-group>
                </div>
                <div class="col-2"></div>
            </div>
        </form>
    </mat-dialog-content>
    
    <mat-dialog-actions align="end">
        <button class="btn-cancel" mat-button mat-dialog-close>Annuler</button>
        <button class="btn-success" mat-button (click)="save()">Enregistrer</button>
    </mat-dialog-actions>
</div>
