<div class="container-fluid mx-3" *ngIf="!loading">
    <div class="row justify-content-around m-auto w-100 my-5" id="user-dashboard">
        <div class="card shadow-lg col-xl-3 col-md-3 col-sm-12 p-4 d-flex flex-column justify-content-between align-items-center">
                <div class="d-flex flex-column align-items-center">
                    <h2 class="fw-bold">{{ 'Mon profil' | uppercase }}</h2>
                    <div class="my-2 w-100 m-auto text-center">
                        <img src="./../../../../assets/icons/feather/black/user.svg" alt="User picture profile" class="rounded-circle" height="50">
                    </div>
                    <h3 class="fw-bold my-2">{{ user.lastName }} {{ user.firstName }}</h3>
                    <div class="user-points p-2 my-2 rounded-pill">{{ user.points }} points</div>
                    <div class="my-3 bg-dark w-75" style="height: 1px;"></div>
                </div>
                <div class="text-center">
                    <button *ngIf="user.isAssociation" class="btn btn-sm border-0 btn-warning d-flex align-items-center my-2">
                        <mat-icon matSuffix class="icon-label" style="margin-right: 10px;">add</mat-icon> {{
                            'Ajouter une mission' | uppercase }}
                    </button>
                    <button class="btn btn-sm btn-outline-dark border-0 d-flex align-items-center my-2">
                        <mat-icon matSuffix class="icon-label" style="margin-right: 10px;">task</mat-icon> {{
                        'Mes missions' | uppercase }}
                    </button>
                    <button class="btn btn-sm btn-outline-dark border-0 d-flex align-items-center my-2">
                        <mat-icon matSuffix class="icon-label" style="margin-right: 10px;">shopping_cart</mat-icon> {{
                        'Mon panier' | uppercase }}
                    </button>
                    <button class="btn btn-sm btn-outline-dark border-0 d-flex align-items-center my-2">
                        <mat-icon matSuffix class="icon-label" style="margin-right: 10px;">favorite</mat-icon> {{
                        'Mes favoris' | uppercase }}
                    </button>
                    <button class="btn btn-sm btn-outline-dark border-0 d-flex align-items-center my-2">
                        <mat-icon matSuffix class="icon-label" style="margin-right: 10px;">settings</mat-icon> {{
                        'Paramètres' | uppercase }}
                    </button>
                </div>
                <button class="btn btn-sm btn-outline-dark border-0 d-flex align-items-center" (click)="logout()">
                    <mat-icon matSuffix class="icon-label" style="margin-right: 10px;">logout</mat-icon> {{
                    'Se déconnecter' | uppercase }}
                </button>
        </div>
        <div class="col-xl-8 col-md-8 col-sm-12 bg-dark p-4"></div>
    </div>
</div>