//----------------------------------*\
// Fonts
//----------------------------------*/
@import './../assets/scss/modules/fonts';

// primary font
$primary_font: 'Poppins';

// font-weight
$thin:100;
$light:300;
$regular:400;
$bold:700;
$black:900;

// Font size
$font-xs:12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 18px;
$font-lg: 20px;

$primary-color: #408C89;
$secondary-color: #FFC533;


* {
    font-family: $primary_font, sans-serif;
    font-weight: $light;
}
::ng-deep body {
    font-family: $primary_font, sans-serif;
    font-weight: $light;
}
.text-sm {
    font-size : 0.75rem !important;
}
.text-xs {
    font-size: 0.500rem !important;
}
p{
    margin-bottom: 0;
}