<div class="content-form" style="top: 100px; position: relative;">
    <div class="container-fluid">
        <h2 class="form-signin-heading">
            <img src="./../../../assets/social-media/ account-icon.png" alt="account-icon" class="icon-account"/>
            <br/>
            <span>Modifier le profil</span>
        </h2>
        <br />
        <form class="form common-form" [formGroup]="form" #editProfileForm="ngForm">
            <mat-form-field class="form-field" appearance="outline">
                <mat-label for="firstName">Prénom</mat-label>
                <input matInput id="firstName" formControlName="firstName" autofocus>
            </mat-form-field>
            <br />
            <mat-form-field class="form-field" appearance="outline">
                <mat-label for="lastName">Nom</mat-label>
                <input matInput id="lastName" formControlName="lastName">
            </mat-form-field>
            <br />
            <mat-form-field appearance="outline">
                <mat-label for="birthDate">Date de naissance</mat-label>
                <input id="birthDate" matInput [matDatepicker]="birthDate" formControlName="birthDate">
                <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
                <mat-datepicker #birthDate></mat-datepicker>
            </mat-form-field>
            <br />
            <mat-form-field class="form-field" appearance="outline">
                <mat-label for="adress">Adresse</mat-label>
                <input matInput id="adress" formControlName="adress">
            </mat-form-field>
            <br />
            <mat-form-field class="form-field" appearance="outline">
                <mat-label for="city">Ville</mat-label>
                <input matInput id="city" formControlName="city">
            </mat-form-field>
            <br />
            <mat-form-field class="form-field" appearance="outline">
                <mat-label for="zipCode">Code Postal</mat-label>
                <input matInput type="number" id="zipCode" formControlName="zipCode">
            </mat-form-field>
            <br />
            <button mat-raised-button class="editProfileBtn" type="button" (click)="editProfile() ; $event.preventDefault()">Modifier</button>
        </form>
        <h2>Supprimer mon compte</h2>
        <button mat-raised-button color="warn">Supprimer</button>
    </div>
</div>