<mat-toolbar class="navbar navbar-expand-lg navbar-light navbar_custom">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="home() ; isActive(0)">
      <img src="./../../../assets/img/logo/feuilles-colored.svg" height="38">
      <div *ngIf="indexIsActive === 0" class="underline"></div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
      aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarToggler">
      <div class="navbar-nav">
        <a class="navigate m-2" (click)="missions() ; isActive(1)">
          <span>Missions</span>
          <div *ngIf="indexIsActive === 1" class="underline"></div>
        </a>
        <a class="navigate m-2" (click)="produits() ; isActive(2)">
          <span>Produits bio</span>
          <div *ngIf="indexIsActive === 2" class="underline"></div>
        </a>
        <a class="navigate m-2" (click)="challenges() ; isActive(3)">
          <span>Challenges</span>
          <div *ngIf="indexIsActive === 3" class="underline"></div>
        </a>
        <a class="navigate m-2" (click)="associations() ; isActive(4)">
          <span>Associations</span>
          <div *ngIf="indexIsActive === 4" class="underline"></div>
        </a>
        <a class="navigate m-2" (click)="blog() ; isActive(5)">
          <span>Blog</span>
          <div *ngIf="indexIsActive === 5" class="underline"></div>
        </a>
        <div class="d-flex position-absolute" style="right:4%">
          <a class="navigate contact my-2 mx-4" href="#"><span>Contact</span></a>
          <div class="">
          <button *ngIf="!isConnected" mat-button [matMenuTriggerFor]="beforeMenu" class="btn btn-login" id="loginDropdown" aria-label="bouton se connecter">Se connecter</button>
          <button *ngIf="isConnected" class="btn btn-login" id="loginDropdown" aria-label="bouton mon compte" (click)="goToProfile()">Mon compte</button>
          <mat-menu #beforeMenu="matMenu" xPosition="before" aria-labelledby="loginDropdown">
            <button mat-menu-item (click)="login()">Espace utilisateur</button>
            <button mat-menu-item (click)="associations()">Espace association</button>
            <button mat-menu-item>Espace entreprise</button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
  </div>  
</mat-toolbar>