<mat-toolbar class="toolbar">
  <a class="navigate accueil" href="/">
    <span>Accueil</span>
  </a>
  <a class="navigate mission" href="/">
    <span>Missions</span>
  </a>
  <a class="navigate produit" href="/">
    <span>Produits bio</span>
  </a>
  <a class="navigate challenge" href="/">
    <span>Challenge</span>
  </a>
  <a class="navigate association" href="/">
    <span>Associations</span>
  </a>
  <a class="navigate contact" href="/">
    <span>Contact</span>
  </a>
  <button (click)="login()" mat-button class="btn" color="primary" aria-label="bouton se connecter">
    <span>Se connecter</span>
  </button>
</mat-toolbar>