// * {
//     outline: 1px red solid;
// }

app-toolbar {
    --background: rgb(54, 109, 28);

    app-title {
        --color: white;
    }

    login-btn {
        --background: black;
        color: white;
    }
}