<mat-toolbar class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <div class="container-fluid">
    <a class="navigate" href="/">
      <img src="./../../assets/logo.PNG" height="60" style="margin-right: 10vh;" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
      aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarToggler">
      <div class="navbar-nav">
        <a class="navigate m-2 " href="/"><span>Missions</span></a>
        <a class="navigate m-2 " href="/"><span>Produits </span></a>
        <a class="navigate m-2 " href="/"><span>Challenges</span></a>
        <a class="navigate m-2" href="/"><span>Associations</span></a>
      </div>
      <div class="d-flex align-items-center" style="position: absolute; right: 5%">
        <a class="navigate m-3" href="/"><span>Contact</span></a>
        <button (click)="login()" mat-button class="btn m-3 w-auto" color="primary" aria-label="bouton se connecter">
          <h6 class="text-white">Se connecter</h6>
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>