// * {
//     outline: 1px red solid;
// }

.toolbar {
    background-color: rgb(54, 109, 28);
    padding-top: 2%;
    display: block;
    height: 80px;
}

a {
    text-decoration: none;
    color: white;
}

.btn {
    background-color: black;
    color: white;
    float: right;
}