// * {
//     outline: 1px red solid;
// }

ion-toolbar {
    --background: rgb(54, 109, 28);

    ion-title {
        --color: white;
    }

    ion-button {
        --background: black;
        color: white;
    }
}