.footer {
    width: 100%;
    height: 150px;
    background-color: rgb(54, 109, 28);
    margin-top: 500px;
    margin-bottom: 10px;
    display: block;
    text-align: center;
}

.text-footer {
    margin-top: 40px;
}