<div class="footer container-fluid">
    <div class="d-flex align-items-center justify-content-around py-4">
        <div class="d-flex flex-column text-center footer-logo col-xl-3 col-md-0 col-sm-0">
            <img src="./../../../assets/img/footer/feuilles.svg" style="height: 56px;" class="footer-logo"/>
            <h2 class="fw-bolder footer-logo">GREEN UP</h2>
        </div>
        <div class="d-flex flex-column col-xl-8 col-md-11 col-sm-11 text-center">
            <div class="d-flex flex-wrap justify-content-start">
                <p class="col-6">Suivez nous sur les réseaux sociaux</p>
                <div class="d-flex justify-content-between col-xl-3 col-md-4 col-sm-4">
                    <a alt="" title="Notre page facebook" href="https://www.facebook.com/Greenupofficiel/" target="_blank" class="mx-2"><mat-icon>facebook</mat-icon></a>
                    <a alt="" title="Notre page linkedIn" href="#"><mat-icon></mat-icon></a>
                    <a alt="" title="Notre page Instragram" href="#"><mat-icon></mat-icon></a>
                    <a alt="" title="Notre page Twitter" href="#"><mat-icon></mat-icon></a>
                </div>
            </div>
            <div id="separation" class="w-100 my-2"></div>
            <div class="d-flex justify-content-around w-100 fw-light">
                <div class="d-flex flex-column mx-1 col-xl-4">
                    <a alt="" title="Qui sommes-nous ?" href="#">Qui sommes-nous ?</a>
                    <a alt="" title="Notre fédération" href="#">Notre fédération</a>
                    <a alt="" title="Nous rejoindre" href="#">Nous rejoindre</a>
                </div>
                <div class="d-flex flex-column mx-1 col-xl-4">
                    <a alt="" title="Conditions générales d'utilisation" href="#">Conditions générales d'utilisation</a>
                    <a alt="" title="Politique de protection des données personnelles" href="#">Politique de protection des données personnelles</a>
                </div>
                <div class="d-flex flex-column col-xl-4">
                    <a alt="" title="Mentions légales" href="#">Mentions légales</a>
                </div>
            </div>
        </div>
    </div>
</div>