<div class="footer">
    <div class="logo">
        <div class="feuille"></div>
        <span>green up</span>
    </div>
    <div class="contact">
        <span>Contact</span>
        <a class="contact1" href="/">Qui sommes-nous ?</a>
        <a class="contact2"  href="/">Notre fédération</a>
        <a class="contact3"  href="/">Nous rejoindre</a>
    </div>
    <div class="information">
        <span>Plus d'informations</span>
        <a class="info1" href="/">Conditions générales d'utilisation</a>
        <a class="info2" href="/">Politique de protection des données personnelles</a>
    </div>
    <div class="mention">
        <a class="mention1" href="/">Accessibilité</a>
        <a class="mention2" href="/">Mentions légales</a>
    </div>
    <div class="socialNetwork">
        <img src="./../../../assets/social-media/facebook.png" alt="facebook icon" class="facebook">
        <img src="./../../../assets/social-media/instagram.png" alt="instagram icon" class="instagram">
        <img src="./../../../assets/social-media/twitter.png" alt="twitter icon" class="twitter">
        <img src="./../../../assets/social-media/linkedin.png" alt="linkedin icon" class="linkedin">
    </div>
</div>
