.footer {
    width: 100%;
    color: white;
    background-color: #306967;
    font-weight: 300;
    
    a {
        text-decoration: none;
        color: white;
    }
    a:hover {
        transform: scale(1.05);
        transition-duration: 0.5s;
        color: #FFC533;
    }

    #separation {
        height: 1.5px;
        background-color:#fff;
    }

}
@media only screen and (max-width: 1024px) {
    .footer-logo {
      display: none;
    }
  }


