h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 66px;
    margin-left: 10%;

    span {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
    }
}

.login-redirection {
    margin-left: 10%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 37px;

    a {
        color: #4EAAA7;
        text-decoration: none;
    }
}

.signupBtn {
    margin-left: 10%;
    background: #4EAAA7;
    color: #FFFF;
    border: 1px solid #4EAAA7;
    box-sizing: border-box;
    border-radius: 8px;
    width: 400px;
    height: 59px;

    span {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
    }
}

form {
    color: black !important;
}

mat-checkbox {
    span {
        color: #4EAAA7;
    }
}

.form_row {
    margin-left: 10%;
}

