<div class="container">
  <div class="content-form row">
    <div class="col" style="top: 200px; position: relative">
      <h2 class="form-signin-heading">
        Welcome sur GreenUp
        <br>
        <span>Tous les champs suivies d'un * sont à remplir obligatoirement</span>
      </h2>
      <div class="col-12" class="login-redirection">
        <span>Déjà un compte ? <a [routerLink]="['/auth', this.typeSignUp]">Se connecter</a></span>
      </div>
      <br />
      <form class="form_row" [formGroup]="form" #signUpForm="ngForm">
        <div class="row">
          <mat-form-field class="col" appearance="fill">
            <mat-label for="lastname">Nom</mat-label>
            <input matInput id="lastname" formControlName="lastName" required>
          </mat-form-field>
          <mat-form-field class="col" appearance="fill">
            <mat-label for="firstname">Prénom</mat-label>
            <input matInput id="firstname" formControlName="firstName" required>
          </mat-form-field>
        </div>
        <div class="row" *ngIf="!isUser">
          <mat-form-field appearance="fill">
            <mat-label for="numSiret">Numéro de SIRET</mat-label>
            <input matInput id="numSiret" formControlName="siretNumber" required>
          </mat-form-field>
        </div>
        <div class="row" *ngIf="!isUser">
          <mat-form-field appearance="fill">
            <mat-label for="numRna">Numéro RNA</mat-label>
            <input matInput id="numRna" formControlName="rnaNumber" required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label for="birthDate" *ngIf="isUser">Date de naissance</mat-label>
            <mat-label for="birthDate" *ngIf="!isUser">Date de création</mat-label>
            <input id="birthDate" matInput [matDatepicker]="birthDate" [max]="dateMax" formControlName="birthDate">
            <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
            <mat-datepicker #birthDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label for="address">Adresse</mat-label>
            <input matInput id="address" formControlName="adress" required>
          </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="col" appearance="fill">
              <mat-label for="zipCode">Code postal</mat-label>
              <input matInput type="text" pattern="[0-9]{5}" id="zipCode" formControlName="zipCode" required>
            </mat-form-field>
            <mat-form-field class="col" appearance="fill">
              <mat-label for="city">Ville</mat-label>
              <input matInput id="city" formControlName="city" required>
            </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="form-field" appearance="fill">
            <mat-label for="phoneNumber">Télephone</mat-label>
            <input matInput id="phoneNumber" type="tel" formControlName="PhoneNumber" required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="form-field" appearance="fill">
            <mat-label for="email">Email</mat-label>
            <input matInput id="email" formControlName="mail" required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label for="password">Mot de passe</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" id="password" formControlName="password" required>
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill" color="primary">
            <mat-label for="confirmPwd">Confirmation mot de passe</mat-label>
            <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" id="confirmPwd" name="confirmPwd" placeholder="Confirmer mot de passe" formControlName="confirmPassword" required>
            <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide Confirm password'" [attr.aria-pressed]="hideConfirmPassword">
              <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <!-- <mat-form-field appearance="outline"> -->
          <!-- <mat-label for="photoProfile">Photo de profil</mat-label> -->
          <!-- <input [hidden]="true" class="file-input" id="photoProfile" type="file" formControlName="photo">
        </mat-form-field> -->
        <div class="row">
          <button mat-raised-button class="signupBtn" [disabled]="!conditionIsCheck" type="button" (click)="signUp() ; $event.preventDefault()"><span>Suivant</span></button>
        </div>
        <div class="row">
          <mat-checkbox class="example-margin" (change)="conditionIsCheck = !conditionIsCheck">J'accepte <span>les termes </span> et <span>les conditions</span>.</mat-checkbox>
        </div>
      </form>
    </div>
    <div class="col">
      <img src="./../../../../assets/signinIllustration.png" alt="">
    </div>
  </div>
</div>
