<div class="container-fluid">
  <div class="row justify-content-center mb-5" id="signup-cover">
    <div class="col-xl-6 col-md-6 col-sm-12 d-flex flex-column align-items-center justify-content-center px-2">
      <div class="row text-center">
        <h2 class="signup-title mb-0">Welcome sur GreenUp</h2>
        <p class="mt-0">Tous les champs suivies d'un * sont à remplir obligatoirement</p>
      </div>
      <div class="row my-3">
        <h3 class="login-redirection">Déjà un compte ? <a [routerLink]="['/auth', this.typeSignUp]">Se connecter</a></h3>
        <form [formGroup]="form" class="row text-center" #signUpForm="ngForm">
          <div class="form-group">
            <div class="row justify-content-between align-items-center mb-1">
              <mat-form-field class="col" appearance="standard">
                <mat-label class="text-secondary fs-5 fw-bold d-flex align-items-center" for="firstNameInput">
                  <mat-icon matSuffix class="icon-label">badge</mat-icon>Prénom *
                </mat-label>
                <input matInput id="firstNameInput" formControlName="firstName" required>
                <!-- <mat-error *ngIf=".invalid">{{getMailErrorMessage()}}</mat-error> -->
              </mat-form-field>
              <mat-form-field class="col" appearance="standard">
                <mat-label class="text-secondary fs-5 fw-bold d-flex align-items-center" for="lastNameInput">
                  <mat-icon matSuffix class="icon-label">badge</mat-icon>Nom *
                </mat-label>
                <input matInput id="lastNameInput" formControlName="lastName" required>
                <!-- <mat-error *ngIf=".invalid">{{getMailErrorMessage()}}</mat-error> -->
              </mat-form-field>
            </div>
            <div class="row justify-content-between align-items-center my-1" *ngIf="!isUser">
              <mat-form-field class="col" appearance="standard">
                <mat-label class="text-secondary fs-5 fw-bold d-flex align-items-center">
                  <mat-icon matSuffix class="icon-label" for="numSiret">badge</mat-icon>Numéro de SIRET *
                </mat-label>
                <input matInput id="numSiret" formControlName="siretNumber" required>
              </mat-form-field>
              <mat-form-field class="col" appearance="standard">
                <mat-label for="numRna" class="text-secondary fs-5 fw-bold d-flex align-items-center">
                  <mat-icon matSuffix class="icon-label" for="numSiret">badge</mat-icon>Numéro RNA *
                </mat-label>
                <input matInput id="numRna" formControlName="rnaNumber" required>
              </mat-form-field>
            </div>
            <div class="row justify-content-between align-items-center my-1">
              <mat-form-field class="col-xl-4 col-md-4 col-sm-12" appearance="standard">
                <mat-label class="text-secondary fs-5 fw-bold d-flex align-items-center" for="mailInput" required>
                  <mat-icon matSuffix class="icon-label">email</mat-icon>Adresse mail *
                </mat-label>
                <input matInput id="mailInput" placeholder="nom.prenom@exemple.com" formControlName="mail" required>
                <!-- <mat-error *ngIf=".invalid">{{getMailErrorMessage()}}</mat-error> -->
              </mat-form-field>
              <mat-form-field class="col-xl-4 col-md-4 col-sm-12" appearance="standard">
                <mat-label class="text-secondary fs-5 fw-bold d-flex align-items-center" for="phoneInput">
                  <mat-icon matSuffix id="phoneInput" class="icon-label">phone</mat-icon>Numéro de téléphone
                </mat-label>
                <input matInput id="phoneInput" formControlName="phoneNumber">
                <!-- <mat-error *ngIf=".invalid">{{getMailErrorMessage()}}</mat-error> -->
              </mat-form-field>
              <mat-form-field class="col-xl-4 col-md-4 col-sm-12" appearance="standard">
                <mat-label class="text-secondary fs-5 fw-bold d-flex align-items-center" for="birthdateInput">
                  <mat-icon matSuffix class="icon-label">event</mat-icon>Date de naissance *
                </mat-label>
                <input matInput id="birthdateInput" [matDatepicker]="birthDate" [max]="dateMax" formControlName="birthDate">
                <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
                <mat-datepicker #birthDate></mat-datepicker>
                <!-- <mat-error *ngIf=".invalid">{{getMailErrorMessage()}}</mat-error> -->
              </mat-form-field>
            </div>
            <div class="row justify-content-between align-items-center my-1">
              <mat-form-field class="col-xl-5 col-md-5 col-sm-12" appearance="standard">
                <mat-label class="text-secondary fs-5 fw-bold d-flex align-items-center" for="adresInput" required>
                  <mat-icon matSuffix class="icon-label">place</mat-icon>Adresse postale *
                </mat-label>
                <input matInput id="adresInput" placeholder="1 rue de la Gare" formControlName="adress" required>
                <!-- <mat-error *ngIf=".invalid">{{getMailErrorMessage()}}</mat-error> -->
              </mat-form-field>
              <mat-form-field class="col-xl-2 col-md-2 col-sm-4" appearance="standard">
                <mat-label class="text-secondary fs-5 fw-bold d-flex align-items-center" for="zipCodeInput">
                  <mat-icon matSuffix class="icon-label">pin</mat-icon>Code postal *
                </mat-label>
                <input matInput type="number" id="zipCodeInput" pattern="[0-9]{5}" formControlName="zipCode" required>
              </mat-form-field>
              <mat-form-field class="col-xl-4 col-md-4 col-sm-8" appearance="standard">
                <mat-label class="text-secondary fs-5 fw-bold d-flex align-items-center" for="cityInput">
                  <mat-icon matSuffix class="icon-label">location_city</mat-icon>Ville *
                </mat-label>
                <input matInput id="cityinput" formControlName="city" required>
              </mat-form-field>
            </div>
            <div class="row justify-content-between align-items-center mb-1">
              <mat-form-field class="col" appearance="standard">
                <mat-label class="text-secondary fs-5 fw-bold d-flex align-items-center" for="passwordInput">
                  <mat-icon matSuffix class="icon-label">vpn_key</mat-icon>Mot de passe *
                </mat-label>
                <input matInput id="passwordInput" [type]="hidePassword ? 'password' : 'text'"
                  formControlName="password" required>
                  <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                <!-- <mat-error *ngIf=".invalid">{{getMailErrorMessage()}}</mat-error> -->
              </mat-form-field>
              <mat-form-field class="col" appearance="standard">
                <mat-label class="text-secondary fs-5 fw-bold d-flex align-items-center" for="confirmPasswordInput">
                  <mat-icon matSuffix class="icon-label">vpn_key</mat-icon>Confirmer votre mot de passe *
                </mat-label>
                <input matInput id="confirmPasswordInput" [type]="hideConfirmPassword ? 'password' : 'text'"
                  formControlName="confirmPassword" required>
                <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
                  [attr.aria-label]="'Hide Confirm password'" [attr.aria-pressed]="hideConfirmPassword">
                  <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <!-- <mat-error *ngIf=".invalid">{{getMailErrorMessage()}}</mat-error> -->
              </mat-form-field>
            </div>
            <!-- <mat-form-field appearance="outline"> -->
            <!-- <mat-label for="photoProfile">Photo de profil</mat-label> -->
            <!-- <input [hidden]="true" class="file-input" id="photoProfile" type="file" formControlName="photo">
        </mat-form-field> -->
            <div class="row">
              <mat-checkbox class="example-margin" (change)="conditionIsCheck = !conditionIsCheck">J'accepte <span>les
                  termes </span> et <span>les conditions</span>.</mat-checkbox>
            </div>
          </div>
          <div class="mt-5">
            <button mat-raised-button class="signupBtn w-50 rounded shadow" [disabled]="!conditionIsCheck" type="button"
              (click)="signUp() ; $event.preventDefault()"><span>S'inscrire</span></button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-xl-5 col-md-5 col-sm-12" id="signup-illustration"></div>
  </div>
</div>