.content-form {
    display: block;
    text-align: center;

    .form {
        color: black;
    
        .form-field {
            // display: block;
            color: black !important;
        }
    }
    
    .signupBtn {
        margin-top: 20px;
    }
    
    .icon-account {
        width: 100px;
    }
}

