$primary-color: #408C89;
$secondary-color: #FFC533;

a {
    color: #4EAAA7;
    text-decoration: none;
    font-weight: bold;
}
#signup-cover {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
#signup-illustration {
    background: url('./../../../../assets/img/user/undraw_add_friends_re_3xte.svg') center no-repeat;
    background-size: contain;
}

.signup-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 66px;
}

.icon-label {
    margin-right: 2%;
}

.login-redirection {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 37px;
}

.signupBtn {
    background: #4EAAA7;
    color: #FFFF;
    border: 1px solid #4EAAA7;
    box-sizing: border-box;
    height: 59px;

    span {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
    }
}

form {
    color: black !important;
}

mat-checkbox {
    span {
        color: #4EAAA7;
    }
}

.form_row {
    margin-left: 10%;
}

