<div class="container-fluid">
    <div class="row justify-content-center mb-5" id="auth-cover">
      <div class="col-xl-6 col-md-6 col-sm-12 d-flex flex-column align-items-center justify-content-center px-2">
        <div class="row text-center">
          <h2 class="auth-title mb-0">Modifier le mot de passe</h2>
          <p class="mt-0">Tous les champs suivies d'un * sont à remplir obligatoirement</p>
        </div>
        <div class="row my-3">
            <form [formGroup]="form" class="row text-center">
                <div class="form-group" >
                    <div class="row">
                        <mat-form-field class="col" appearance="standard">
                            <mat-label class="text-secondary fs-5 fw-bold d-flex align-items-center" for="newPasswordId">
                                <mat-icon matSuffix class="icon-label">fingerprint</mat-icon>
                                Nouveau mot de passe 
                            </mat-label>
                            <input matInput id="newPasswordId" type="password" formControlName="newPassword" required>
                            <!-- <mat-error *ngIf=".invalid">{{getMailErrorMessage()}}</mat-error> -->
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field class="col" appearance="standard">
                            <mat-label class="text-secondary fs-5 fw-bold d-flex align-items-center" for="confirmPasswordId">
                                <mat-icon matSuffix class="icon-label">fingerprint</mat-icon>
                                Confirmation mot de passe
                            </mat-label>
                            <input matInput id="confirmPasswordId" type="password" formControlName="confirmPassword" required>
                            <!-- <mat-error *ngIf=".invalid">{{getMailErrorMessage()}}</mat-error> -->
                        </mat-form-field>
                    </div>
                </div>
                <div class="mt-5">
                    <button mat-raised-button class="loginBtn w-50 rounded shadow" type="button" (click)="save() ; $event.preventDefault()">
                        Modifier
                    </button>
                </div>
            </form>
        </div>
      </div>
      <div class="col-xl-5 col-md-5 col-sm-12" id="auth-illustration"></div>
    </div>
  </div>