<div class="container" style="top: 100px; bottom: 100px; position: relative;">
    <div class="row go-back">
        
        <a (click)="goToListBlog()">
            <img src="./../../../../assets/icons/feather/black/chevron-left.svg" alt="">
            Retour au blog
        </a>
    </div>
    <div class="row article">
        <h1>{{ 'article' | uppercase }}</h1>
        <h2 *ngIf="article?.titre">{{ article?.titre }}</h2>
        <p class="article-resume" *ngIf="article?.resume">{{ article?.resume}}</p>
        <img *ngIf="article?.img" [src]="article?.img" />
        <p class="article-corps" *ngIf="article?.corps">{{ article?.corps }}</p>
    </div>
    <div class="container-fluid">
        <div class="d-flex flex-row flex-nowrap overflow-auto scrollbar" style="margin-top: 10rem; margin-bottom: 10rem;">
            <app-card-blog [format]="'card'" [article]="article"></app-card-blog>
            <app-card-blog [format]="'card'" [article]="article"></app-card-blog>
            <app-card-blog [format]="'card'" [article]="article"></app-card-blog>
            <app-card-blog [format]="'card'" [article]="article"></app-card-blog>
        </div>
    </div>
    <div class="btn">
        <button class="btn-more" type="button" (click)="goToListBlog()">
            <span>Voir plus d'article</span>
        </button>
    </div>
</div>
