@font-face {
    font-family: 'Poppins';
    src: url('./../../fonts/Bold/Poppins-Bold.woff') format('woff2'),
        url('./../../fonts/Bold/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./../../fonts/Regular/Poppins-Regular.woff2') format('woff2'),
        url('./../../fonts/Regular/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./../../fonts/Black/Poppins-Black.woff2') format('woff2'),
        url('./../../fonts/Black/Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./../../fonts/Light/Poppins-Light.woff2') format('woff2'),
        url('./../../fonts/Light/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

