<div class="container-fluid">
    <div class="row justify-content-center" id="home-cover">
        <div class="col-xl-6 col-md-6 col-sm-12 d-flex flex-column align-items-center justify-content-center text-center">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <img src="./../../../assets/img/logo/feuilles-colored.svg" title="Logo GreenUp" alt="Logo GreenUp">
                <h1 style="font-size:3.5rem" class="fw-bold">GREEN UP</h1>
            </div>
            <h2 class="fs-3">La bonne action qui vous récompense</h2>
            <button class="btn rounded" id="missions-button"><i data-feather="list" class="mr-2"></i> Voir les
                missions</button>
        </div>
        <div class="col-xl-6 col-md-6 col-sm-12" id="home-illustration"></div>
    </div>
    <div class="row justify-content-center align-items-center" id="protect-house-banner">
        <div class="col-12 py-3">
            <p class="fs-6 text-center">Protégeons notre maison, engageons-nous avec les petites actions quotidiennes
            </p>
        </div>
    </div>
    <div class="row justify-content-center align-items-center" id="home-concept">
        <div class="col-12">
            <div class="d-flex flex-column text-center align-items-center">
                <h2 style="font-size: 2rem;">Le concept c'est quoi ?</h2>
                <p class="fs-6 fw-normal">Une plateforme qui allie les récompenses des bonnes actions</p>
                <p class="fs-6 my-4 fw-light w-50">Nous proposons des missions pour améliorer notre impact
                    environnemental
                    tout en étant récompensé</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-6 py-4 px-5" id="concept-box">
                    <div class="row justify-content-around col-12">
                        <div class="card bg-white text-center col-xl-5 col-md-5 col-sm-12 my-1">
                            <img src="./../../../assets/img/home/concept-recompense-box.png" class="card-img-top"
                                alt="...">
                            <div class="card-body my-3 d-flex flex-column align-items-center">
                                <div class="my-2 concept-separation"></div>
                                <h5 class="card-title text-uppercase fw-bold fs-5">Les récompenses</h5>
                                <img width="18" class="my-2" src="./../../../assets/icons/feather/black/gift.svg">
                                <p class="card-text">Finissez la mission et soyez récompensé</p>
                                <a href="#" class="btn btn-sm" id="concept-button-box">Voir les récompenses</a>
                            </div>
                        </div>
                        <div class="card bg-white text-center col-xl-5 col-md-5 col-sm-12 my-1">
                            <img src="./../../../assets/img/home/concept-missions-box.png" class="card-img-top"
                                alt="...">
                            <div class="card-body my-3 d-flex flex-column align-items-center">
                                <div class="my-2 concept-separation"></div>
                                <h5 class="card-title text-uppercase fw-bold fs-5">Les missions</h5>
                                <img width="18" class="my-2" src="./../../../assets/icons/feather/black/map-pin.svg" />
                                <p class="card-text">Choississez une missions proche de chez vous</p>
                                <a href="#" class="btn btn-sm" id="concept-button-box">Voir les missions</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5 pb-3 d-flex flex-wrap justify-content-center text-center m-auto col-xl-10 col-md-12 col-sm-12"
                id="concept-choice-recompense">
                <div class="d-flex flex-column my-5">
                    <h2 style="font-size: 3.5rem;">Le choix de vos récompenses</h2>
                    <div><img width="12" class="mr-2" src="./../../../assets/icons/feather/black/star.svg" /> Notre
                        objectif est d'engager un maximum de personnes à l'écologie</div>
                </div>
                <div class="d-flex flex-wrap justify-content-around col-xl-9 col-md-12 col-sm-12">
                    <div
                        class="d-flex flex-column align-items-center justify-content-center rounded-circle col-xl-3 col-md-3 col-sm-12">
                        <img src="./../../../assets/icons/feather/white/gift.svg" class="rounded-circle p-2"
                            style="background-color: #4EAAA7;" />
                        <p class="">Obtenez votre récompense éco-responsable grâce à vos points</p>
                    </div>
                    <div
                        class="d-flex flex-column align-items-center justify-content-center rounded-circle col-xl-3 col-md-3 col-sm-12">
                        <img src="./../../../assets/icons/unicons/white/trees.svg" width="38" class="rounded-circle p-2"
                            style="background-color: #4EAAA7;" />
                        <p class="">Choisissez d'utiliser vos points pour planter un arbre</p>
                    </div>
                    <div
                        class="d-flex flex-column align-items-center justify-content-center rounded-circle col-xl-3 col-md-3 col-sm-12">
                        <img src="./../../../assets/icons/unicons/white/heart-medical.svg" width="38"
                            class="rounded-circle p-2" style="background-color: #4EAAA7;" />
                        <p class="">Reverser vos points à des associations</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center" id="tous-unis-banner">
            <div class="col-12 py-4">
                <p class="fs-6 text-center fw-bold">Tous unis pour la préservation de notre environnement
                </p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center col-12 align-items-center m-auto my-3" id="home-missions">
        <div class="d-flex flex-column text-center align-items-center my-4">
            <h2 style="font-size: 2rem;">LES MISSIONS</h2>
            <p class="fs-6 fw-normal">Prenez part à l'aventure et prenez plaisir à réaliser une mission</p>
        </div>
        <div class="d-flex flex-wrap" style="height: 50vh;">
            <div class="col-xl-7 col-md-7 col-sm-12" id="home-missions-illustration"></div>
            <div class="col-xl-5 col-md-5 col-sm-12 d-flex flex-column align-items-center justify-content-around  h-100 text-left"
                id="home-missions-angers">
                <div class="col-8">
                    <div>
                        <h3 class="fw-bold">LE SECTEUR D'ANGERS</h3>
                        <p class="text-sm">Green UP est une startup angevine implanté à Angers. Réputé pour être une des
                            villes où
                            il fait le plus bon vivre nous voulons encourager sa transition écologique et son
                            développement
                            durable</p>
                    </div>
                    <button class="btn btn-sm p-2" id="home-missions-button">TOUTES LES MISSIONS</button>
                </div>
            </div>
        </div>
        <div style="height: 50vh;">

        </div>
    </div>
    <div class="row justify-content-between align-items-center col-xl-6 col-md-6 col-sm-12 m-auto my-3"
        id="home-challenges">
        <div class="d-flex flex-column col-3">
            <h2 style="font-size: 2rem;" class="fw-bold">LES CHALLENGES</h2>
            <p class="text-sm">Rejoignez notre communauté et participer à des challenges</p>
            <button class="btn btn-sm my-2" id="challenges-button">Plus d'informations</button>
        </div>
        <div class="col-auto row justify-content-center">
            <img src="./../../../assets/img/home/undraw_target_re_fi8j.svg" height="240" />
        </div>
    </div>
    <div class="row justify-content-between align-items-center col-xl-6 col-md-6 col-sm-12 m-auto my-3"
    id="home-question">
    <div class="d-flex flex-column col-5">
        <h2 style="font-size: 2rem;" class="fw-bold">Des questions</h2>
        <p class="text-sm">Vous avez besoin d'un renseignement, le concept vous a séduit et vous souhaitez rejoindre la communauté ?</p>
    </div>
    <div class="col-auto row justify-content-end">
        <img src="./../../../assets/img/home/undraw_questions_re_1fy7.svg" height="300" />
    </div>
</div>
</div>