$primary-color: #408C89;
$secondary-color: #FFC533;

#home-cover {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
#home-illustration {
    background: url('./../../../assets/img/home/undraw_thoughts_re_3ysu.svg') center no-repeat;
    background-size: contain;
}
#missions-button {
    background-color: $primary-color;
    color: #fff;
}
#missions-button:hover {
    transition-duration: 1s;
    transform: scale(1.1);
    background-color: $secondary-color;
}

#protect-house-banner {
    background-color: $primary-color;
    color: #fff;
    font-weight: 300;
}
#home-concept {
    padding: 5% 0;

    #concept-box{
        background-color: $primary-color;
        width: 80%;

        #concept-recompense-box{
            background-color: #fff;
        }

        #concept-missions-box {
            background-color: #fff;

        }

        #concept-button-box {
            background-color: $secondary-color;
            color: #fff;
        }
        #concept-button-box:hover{
            transition-duration: 1s;
            transform: scale(1.1);
            background-color: $primary-color;
        }

        .concept-separation {
            height: 1.5px;
            background-color: $primary-color;
        }
    }

}
#concept-choice-recompense {
    border-top: 2.5px solid $secondary-color;
    border-right: 2.5px solid $secondary-color;
    border-left: 2.5px solid $secondary-color;
}


.concept-separation {
    height: 2px;
    width: 10%;
    background-color: #4EAAA7;
}
#tous-unis-banner {
    background: url(./../../../assets/img/home/banner-feuille.png) center no-repeat;
    background-size: cover;
    color: #fff;
}

#home-missions {

    #home-missions-illustration {
        background: url('./../../../assets/img/home/missions-angers.png') center no-repeat;
        background-size: cover;
    }

    #home-missions-angers {
        background-color: #306967;
        color: #fff;
    }
    #home-missions-button{
        color: #fff;
        border: 1px solid #fff;
        background-color: transparent;
    }
    #home-missions-button:hover{
        border-color: $secondary-color;
        background-color: $secondary-color;
        transform: scale(1.1);
        transition-duration: 0.5;
    }
}
#home-challenges {
    #challenges-button{
        color: $primary-color;
        border: 1px solid $primary-color;
        background-color: transparent;
    }
    #challenges-button:hover{
        border-color: $secondary-color;
        color: #fff;
        background-color: $secondary-color;
        transform: scale(1.1);
        transition-duration: 0.5;
    }
}

#home-contact {
    #contact-button{
        color: #fff;      
        background-color: $secondary-color;
        border: 1px solid $secondary-color;
        height: 35px;
    }
    #contact-button:hover{
        border-color: $primary-color;
        color: #fff;
        background-color: $primary-color;
        transform: scale(1.1);
        transition-duration: 0.5;
    }
}