<h1>
    <span>Mot de passe oublié</span>
    <mat-dialog-actions align="end">
        
    </mat-dialog-actions>
</h1>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="form" class="row text-center" #forgotIdentForm="ngForm">
        <mat-form-field appearance="outline">
            <mat-label>Adresse email</mat-label>
            <input matInput type="text" formControlName="email">
        </mat-form-field>
        <div class="mt-5">
            <button mat-button mat-dialog-close class="btn-validate mr-5" type="button" (click)="resetPassword() ; $event.preventDefault()">
                <mat-icon>download_done</mat-icon>
            </button>
            <button mat-button mat-dialog-close>
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </form>
</mat-dialog-content>
