<div class="container" style="top: 100px; bottom: 100px; position: relative;">
    <h1>Blog</h1>
    <h2>On reste à la page</h2>
    <div class="row">
        <div class="col-7">
            <button class="col btn-filter" type="button"><span>Tout</span></button>
            <button class="col btn-filter" type="button"><span>villes</span> </button>
            <button class="col btn-filter" type="button"><span>Les transports</span></button>
            <button class="col btn-filter" type="button"><span>Quotidiens</span></button>
            <button class="col btn-filter" type="button"><span>Voyages</span></button>
        </div>
    </div>
    <div>
        <app-card-blog [format]="'list'" [article]="article"></app-card-blog>
        <app-card-blog [format]="'list'" [article]="article"></app-card-blog>
        <app-card-blog [format]="'list'" [article]="article"></app-card-blog>
        <app-card-blog [format]="'list'" [article]="article"></app-card-blog>
        <app-card-blog *ngIf="displayAllList" [format]="'list'" [article]="article"></app-card-blog>
        <app-card-blog *ngIf="displayAllList" [format]="'list'" [article]="article"></app-card-blog>
        <app-card-blog *ngIf="displayAllList" [format]="'list'" [article]="article"></app-card-blog>
        <app-card-blog *ngIf="displayAllList" [format]="'list'" [article]="article"></app-card-blog>
    </div>
    <div class="btn">
        <button class="btn-more" type="button" (click)="displayList()">
            <span *ngIf="displayAllList">Voir moins d'article</span>
            <span *ngIf="!displayAllList">Voir plus d'article</span>
        </button>
    </div>
</div>