.banner-association {
    min-height: 30vh;
    background-color: #408C89;
}
.association-button {
    color: #fff;
    background-color: #FFC533;

    &:hover {
        background-color: #fbb400;
    }
}

.text-sm {
    font-size : 0.75rem !important;
}
.text-xs {
    font-size: 0.500rem !important;
}