<div class="container" style="margin-top: 35px;" *ngIf="format === 'list'">
    <div class="row">
        <div class="img-block col-4">
            <img src="../../../assets/IllustrationTest.png" alt="">
            <!-- *ngIf="img" [src]="img" -->
        </div>
        <div class="card-blog col-8">
            <h1 *ngIf="article?.categorie">{{ article?.categorie| uppercase }}</h1>
            <h2 *ngIf="article?.titre">{{ article?.titre }}</h2>
            <p *ngIf="article?.resume">{{ article?.resume }}</p>
            <div class="footer-card">
                <span *ngIf="article?.date">{{ article?.date }}</span>
                <a (click)="readMore()">Lire la suite</a>
            </div>
        </div>
    </div>
</div>

<div class="container" *ngIf="format === 'card'">
    <div class="card" style="width: 22rem;">
        <img src="../../../assets/IllustrationTest.png" class="card-img-top" alt="">
        <div class="card-body card-custom">
            <h4 *ngIf="article?.categorie" class="card-title">{{ article?.categorie | uppercase }}</h4>
            <h5 *ngIf="article?.titre" class="card-title">{{ article?.titre }}</h5>
            <p class="card-text" *ngIf="article?.resume">{{ article?.resume }}</p>
            <div class="footer-card">
                <span *ngIf="article?.date">{{ article?.date }}</span>
                <a (click)="readMore()">Lire la suite</a>
            </div>
        </div>
    </div>
</div>
