.spin{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    width: 25%;
    height: 300px;
}



.headerBloc {
    // position: absolute;
    width: 100%;
    height: 900px;
    // left: 112px;
    top: -198px;
    background: url(../../assets/home.png);
    background-repeat: no-repeat;
    z-index: 0;
    .phone {
        position: absolute;
        width: 297px;
        height: 453px;
        left: 45px;
        top: 150px;
        background: url(../../assets/phonepng.png);
    }

    .title1 {
        position: absolute;
        width: 190.35px;
        height: 52.87px;
        left: 366px;
        top: 301px;

        font-family: 'Roboto', sans-serif;;
        font-style: normal;
        font-weight: 500;
        font-size: 45.3213px;
        line-height: 53px;

        color: #4EAAA7;
    }

    .title2 {
        position: absolute;
        width: 437px;
        height: 73px;
        left: 366px;
        top: 365px;

        font-family: 'Roboto', sans-serif;;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 33px;
        text-transform: uppercase;

        /* Neutre/Color 4 */

        color: #969C9B;
    }

    .title3 {
        position: absolute;
        width: 296.85px;
        height: 43.81px;
        left: 366px;
        top: 449px;

        font-family: 'Roboto', sans-serif;;
        font-style: normal;
        font-weight: normal;
        font-size: 18.8839px;
        line-height: 22px;

        /* Neutre/Color 4 */

        color: #969C9B;
    }

    .missionBtn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 7.55355px 37.7677px;

        position: absolute;
        width: 305.16px;
        height: 50.61px;
        left: 355px;
        top: 504px;

        background: #4EAAA7;
        border-radius: 23.416px;

        .missionBtnText {
            position: static;
            width: 229.63px;
            height: 35.5px;
            left: 37.77px;
            top: 7.55px;
    
            font-family: 'Roboto', sans-serif;;
            font-style: normal;
            font-weight: normal;
            font-size: 30.2142px;
            line-height: 35px;
            color: #FFFFFF;
            flex: none;
            order: 0;
            flex-grow: 0;
            margin: 0px 7.55355px;
        }
    }

    .banner {
        position: absolute;
        width: 100%;
        height: 80px;
        left: 0px;
        top: 687px;
        background-color: #4EAAA7;

        .textBanner {
            position: absolute;
            width: 100%;
            height: 29px;
            left: 268px;
            top: 30%;
            font-family: 'Roboto', sans-serif;;
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 29px;
            text-align: center;
            color: #FFFFFF;
        }
    }
}

.middleBloc {
    .bgFeuille {
        position: absolute;
        width: 283px;
        height: 483px;
        left: 216.68px;
        top: 1329px;
        background-image: url(./../../assets/bgFeuille.png);
        background: #4EAAA7;
        border: 4px solid #4EAAA7;
        transform: rotate(83.28deg);
    }
    
    .imgMap {
        position: absolute;
        width: 357.25px;
        height: 357.25px;
        left: 319.87px;
        top: 822.66px;
        background: url(./../../assets/mapImg.png);
    }

    .rewardsBox {
        position: absolute;
        width: 374px;
        height: 349px;
        left: 318.26px;
        top: 1159.77px;
        background-color: rgba(229, 229, 229, 0.25);
        border-radius: 4.04206px;

        .rewardsText {
            position: absolute;
            width: 219.89px;
            height: 28.29px;
            // left: 385.36px;
            left: 20%;
            // top: 1233.7px;
            top: 25%;

            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            text-transform: uppercase;
            color: #636968;
        }

        .iconCheck {
            position: absolute;
            left: 45%;
            right: 8.33%;
            top: 40%;
            bottom: 8.33%;
            color: #4EAAA7;
        }

        .rewardsText2 {
            position: absolute;
            width: 194.48px;
            height: 46.31px;
            // left: 407.99px;
            left: 25%;
            // top: 1345.81px;
            top: 55%;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: normal;
            font-size: 19.8452px;
            line-height: 23px;
            text-align: center;
            color: #636968;
        }

        .rewardsBtn {
            position: absolute;
            width: 265.26px;
            height: 40.35px;
            // left: 372.42px;
            // top: 1413.83px;

            background: #4EAAA7;
            border-radius: 3.30753px;
            left: 15%;
            top: 80%;

            .iconFeuille {
                position: absolute;
                // left: 16.68%;
                left: 6%;
                right: 16.67%;
                // top: 16.67%;
                top: 32%;
                bottom: 16.67%;
                color: #FFFFFF;
            }

            .rewardsBtnText {
                position: absolute;
                width: 191.18px;
                height: 19.18px;
                // left: 424.68px;
                // top: 1424.42px;
                left: 15%;
                top: 30%;
                
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 16.5376px;
                line-height: 19px;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;
            }
        }
    }

    .imgCible {
        position: absolute;
        width: 378.34px;
        height: 332.26px;
        left: 743.8px;
        top: 817px;

        background: url(./../../assets/imgCible.png);
    }

    .missionBox {
        position: absolute;
        width: 374px;
        height: 349px;
        left: 747.52px;
        top: 1159.77px;

        background: rgba(229, 229, 229, 0.25);
        border-radius: 4.04206px;

        .missionText {
            position: absolute;
            width: 175.3px;
            height: 31.09px;
            // left: 846.96px;
            left: 27%;
            // top: 1228.96px;
            top: 25%;

            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            text-transform: uppercase;
            color: #636968;
        }

        .iconLocation {
            position: absolute;
            left: 45%;
            right: 8.33%;
            top: 40%;
            bottom: 8.33%;
            color: #4EAAA7;
        }

        .missionText2 {
            position: absolute;
            width: 284.45px;
            height: 46.31px;
            // left: 792.8px;
            // top: 1345.55px;
            left: 10%;
            top: 55%;
            
            font-family: 'Roboto';
            font-style: normal;
            font-weight: normal;
            font-size: 19.8452px;
            line-height: 23px;
            text-align: center;
            color: #636968;
        }

        .missionBtn2 {
            position: absolute;
            width: 265.26px;
            height: 40.35px;
            // left: 801.69px;
            left: 15%;
            // top: 1415.81px;
            top: 80%;

            background: #4EAAA7;
            border-radius: 3.30753px;

            .iconValise {
                position: absolute;
                // left: 8.33%;
                left: 12%;
                right: 8.33%;
                // top: 8.33%;
                top: 32%;
                bottom: 12.5%;
                color: #FFFFFF;
            }

            .missionBtn2Text {
                position: absolute;
                width: 150.82px;
                height: 19.18px;
                // left: 873.79px;
                left: 25%;
                // top: 1426.4px;
                top: 30%;

                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 16.5376px;
                line-height: 19px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
        }
    }
}

.footerBloc {

}

