<div class="card container">
  <div class="header_card row">
    <img class="col" *ngIf="mission?.image" src="./../../../assets/imgTestMission.png" alt="image card"/>
    <!-- src="{{mission?.image}}" -->
  </div>
  <div class="content_card row">
    <div class="row">
      <div class="line_primary"></div>
      <div class="row title_mission">
        <span>{{ mission?.titleDesc }}</span>
      </div>
    </div>
  </div>
  <div class="footer_card row">
    <button class="btn" mat-button type="button">
      <span>Voir la mission</span>
    </button>
  </div>
</div>
