<div class="container container-mission row">
    <div class="row bannerMission">
        <!-- <img src="./../../../../assets/missionIllustration.png" alt="image moteur de recherche"> -->
        <h1>Rechercher une mission</h1>
        <form>
            <input matInput type="text" placeholder="Rechercher ...">
        </form>
    </div>
    <div class="row contentMission">
        <section class="col-3">
            <app-filter></app-filter>
        </section>
        <section class="col-9">
            <div class="row">
                <h1>Les missions</h1>
                <span class="countMission">{{ nbMissions }} offre(s) disponible<span *ngIf="nbMissions > 1">s</span></span>
                <span>Actuellement {{ nbMissions }} offres disponible<span *ngIf="nbMissions > 1">s</span></span>
            </div>
            <div class="row">
                <div class="row mb-5">
                    <button matButton type="button" (click)="addMission()">Créer une mission</button>
                </div>
                <ng-container *ngIf="missions">
                    <div class="row col-12 m-auto justify-content-between">
                        <ng-container *ngFor="let mission of missions ; let index = index">
                            <div class="col-xl-6 col-md-6 col-sm-12">
                                <app-card [mission]="mission"></app-card>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </section>
    </div>
</div>
