<div class="content-form" style="top: 100px; position: relative;">
    <div class="container-fluid">
      <h2 class="form-signin-heading">
        <img src="./../../../assets/social-media/ account-icon.png" alt="account-icon" class="icon-account"/>
        <br/>
        <span>Connexion Association</span>
      </h2>
      <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password.</div>
      <br />
      <form class="form form-signin" [formGroup]="form" #loginForm="ngForm">
        <mat-form-field appearance="outline">
          <mat-label for="name">Name</mat-label>
          <input matInput id="name" formControlName="name" required autofocus>
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline">
          <mat-label for="name">Siren</mat-label>
          <input matInput id="siren" formControlName="siren" required autofocus>
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline">
          <mat-label for="password">Mot de passe</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" id="password" formControlName="password" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <br />
        <button mat-raised-button type="submit" (click)="login() ; $event.preventDefault()">Connexion</button>
        <br />
        <button mat-raised-button class="signupBtn" type="button" (click)="signUp() ; $event.preventDefault()">Inscription</button>
      </form>
    </div>
  </div>
