h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    text-transform: uppercase;
    color: #323434;
}

h2 {
    font-family: Orkney;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #323434;
}

input {
    background: #FFFFFF;
    width: 221px;
    height: 45px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 28px;
    border: transparent;
}

li {
    list-style: none;
}
.chip {
    padding: 5px 10px;
    width: 183px;
    height: 31px;
    background: #B9DFDE;
    border-radius: 5px;

    mat-icon {
        float: right;
    }
}
